/* Modified for cross browser compatibility */

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-gradient: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );

  --clr-base-bg: rgba(89,99,137,0.19216);
  --clr-base-fg: #bfd2ff;
  --clr-base-accent: #828db5;

  --clr-invalid-bg: rgba(255,127,127,0.10588);
  --clr-invalid-fg: #ffdfdf;
  --clr-invalid-accent: #ff7f7f;

  --clr-valid-bg: rgba(127,255,212,0.10588);
  --clr-valid-fg: #d2fbee;
  --clr-valid-accent: #7fffd4;
}

body {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  min-height: 100vh;
  font-family: 'Tilt Neon', sans-serif;
  background: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );
  background: var(--clr-gradient);
}

.form {
  position: relative;
  /* Sets the element's width to 85% of its container's width, 
   but limits it to a maximum of 350px if 85% exceeds 350px */
  width: min(85%, 350px);
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  background-color: rgba(89,99,137,0.19216);
  background-color: var(--clr-base-bg);
  color: #bfd2ff;
  color: var(--clr-base-fg);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  overflow: hidden;
}

.form__input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 1rem 1.5rem;
  font: inherit;
  color: inherit;
}

.form__input::-moz-placeholder {
  color: #828db5;
  color: var(--clr-base-accent);
}

.form__input::placeholder {
  color: #828db5;
  color: var(--clr-base-accent);
}

.form__indicator {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  background-color: #828db5;
  background-color: var(--clr-base-accent);
}

.form__input:focus ~ .form__indicator {
  background-color: #bfd2ff;
  background-color: var(--clr-base-fg);
}

/*
  Style the FORM when 
  it has { :has() } an INPUT { .form__input } 
  with it's placeholder hidden { :not(:placeholder-shown) }
  and also invalid { :invalid }
*/

.form:has(.form__input:not(:-moz-placeholder-shown):invalid) {
  background-color: rgba(255,127,127,0.10588);
  background-color: var(--clr-invalid-bg);
  color: #ffdfdf;
  color: var(--clr-invalid-fg);
}

.form:has(.form__input:not(:placeholder-shown):invalid) {
  background-color: rgba(255,127,127,0.10588);
  background-color: var(--clr-invalid-bg);
  color: #ffdfdf;
  color: var(--clr-invalid-fg);
}

/*
  Style the INDICATOR when the INPUT
  has its placeholder hidden { :not(:placeholder-shown) }
  and invalid { :invalid }
*/

.form__input:not(:-moz-placeholder-shown):invalid ~ .form__indicator {
  background-color: #ff7f7f;
  background-color: var(--clr-invalid-accent);
}

.form__input:not(:placeholder-shown):invalid ~ .form__indicator {
  background-color: #ff7f7f;
  background-color: var(--clr-invalid-accent);
}

.form:has(.form__input:valid) {
  background-color: rgba(127,255,212,0.10588);
  background-color: var(--clr-valid-bg);
  color: #d2fbee;
  color: var(--clr-valid-fg);
}

.form__input:valid ~ .form__indicator {
  background-color: #7fffd4;
  background-color: var(--clr-valid-accent);
}

/* Adding transition to all elements found within the form */

.form > * {
  transition: background-color 200ms ease;
}